<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
    
  <!--destination:swing GUI-->    
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n"/>
            </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
		   <param name="LevelMax" value="FAIL" />
		   <param name="LevelMin" value="DEBUG" />
		</filter>
  </appender>

    <appender name="LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/Work/logs/xuibl.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
		   <param name="LevelMax" value="ERROR" />
		   <param name="LevelMin" value="INFO" />
		</filter>
    </appender>


    <logger name="com.xc" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG" />
    </logger>
</log4j:configuration>
